body {
    font-family: "Helvetica", sans-serif;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.company {
    background-color: black;
    color: white;
}
.company .container {
    display: flex;
    align-items: center;
    padding: .66rem 0 .66rem 0.5rem;
}
.container {
    max-width: 960px;
    margin: 0 auto;
}
.company img {
    height: 1.5rem;
    padding-right: 1rem;
}
.main-banner {
    background: url("../images/moto.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 25rem;
}
.headline {
    position: relative;
    top: 9rem;
    width: 20rem;
    padding: 2rem 3rem;
    background-color: black;
    color: white;
}
h1, h4 {
    font-weight: bold;
}
.headline h1 {
    margin: 0.25rem 0;
    font-size: 2rem;
    line-height: 1.2;
}
nav {
    background-color: firebrick;
    color: white;
}
nav ul {
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 0;
}
ul {
    list-style: none;
}
